.stroka {
    background: #f0f0f0; /* Цвет фона */
    width: 100px; /* Ширина блока */
    padding: 10px; /* Поля */
    border: 2px solid #000;
    margin-top: 100px  ;
   
}
/* {
    Xposition: relative;
  top: ;
} */
.pimp {
    width: 45px; 
    height: 45px;
}